<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/styles/login.css}">
  <title>Minimalizes</title>
</head>
<body>
<header>
  <div class="logo">
    <a href="index.html" th:href="@{/}"><img class="logoImg" th:src="@{/images/icons8-ионный.svg}" width="50" height="50" ></a>
  </div>
</header>
<main>
  <h1>Вхід</h1>
  <form th:action="@{/perform_login}" method="post">
    Емайл: <input type="text" name="username" required><br><br> <!-- Обратите внимание, что здесь должно быть name="username" -->
    Пароль: <input type="password" name="password" required><br><br>
    <button class="button" type="submit">Вхід</button>
  </form>
</main>
</body>
</html>
