<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/regSt.css}">
    <title>Minimalizes</title>
</head>

<body>
<header>
    <div class="logo">
        <a href="index.html"
           th:href="@{/}"><img class="logoImg"
                                  th:src="@{/images/icons8-ионный.svg}" width="50" height="50" ></a>
    </div>
</header>
<main>
    <h1>Реєстрація</h1>
    <form>
        Повне ім'я: <input type="text" name="fullName"  > <br><br>
        Емайл: <input type="email" name="email"><br><br>
        Пароль: <input type="password" name="password"><br><br>
        Підтвердження пароля: <input type="password" name="samePassword"><br><br>
        Чоловік <input  type = "radio" name = "sex" value =  "male" checked>
        Жінка <input type = "radio" name = "sex"value =  "female"><br><br>
        <button type="submit">Реєстрація</button>
    </form>

</main>


</body>
</html>
